body{
    text-align: center;
    background-color: #000000;
}
h1{
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    

    color: #FF006E;
}
.container{
    display: block;
    width:  50%;
    margin: auto;
}
.btn{
    display: inline-block;
    border: solid 1px black;
    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 25px;
}

.top-button:hover{
    color: white;
}
.btn:hover{
    opacity: 0.9;
}
.top-button{
    margin : 0 50px;

    text-align: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    border-radius: 25px;
    background-color: #FF006E;
    border: none ;
}
#Rules{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 100px;
    background-color: #000000;
    border: solid 2px;
    border-color: #FF006E;
    color: #FF006E;
    width: 40px;

}

#msg{
    display: none;
    color: white ;
}

#Rules:hover{
    
    color: #ffffff;
    border-color: #ffffff;
    
}
#one{
    background-color: #8338EC;
}
#two{
    background-color: #3A86FF;
}
#three{
    background-color: #FFBE0B;
}
#four{
    background-color: #FB5607;
}
.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}
.game-over {
    background-color: #FF006E;
    
    opacity: 0.8;
}

@media (max-width: 460px) {
    .h1{
        font-size: 15px;
    }
    .btn{
        height: 50px;
        width: 50px;
    }
}
